$topLayer: 10000;

body {
    &.hidden {
        overflow: hidden;
    }
}

#loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: white;
    z-index: $topLayer;

    #loading-img {
        transition: all 0.3s cubic-bezier(.14, .78, .89, .35);
        &.hidden {
            opacity: 0;
        }
    }
}