$color_light_accent: #ddd0f1;
$color_dark_accent: #b9a3db;
$color_header: #1e1b1e;
$color_body: #2B2B2B;
$color_links: #68adef;
$color_highlighted: #2191fb;
$color_background: #F2F3F4;
$color_success: #27BA56;
$color_error: #ba274a;

$font_header: 'Montserrat', Arial;
$font_body: 'Roboto', 'Courier New';
$font_quote: 'Courier New';

$smooth_transition: 200ms cubic-bezier(.4,.0,.23,1);